{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block body_class %} login-page {% endblock body_class %}
{% block content %}
{#
<main class="col-md-3 col-6 mx-auto my-5 text-center">
  <h1 id="logo" class="mb-4">LOGOapp</h1>
  <form action="{{ url_for('auth_authenticate') }}" method="POST">
    <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
    <div class="form-floating">
      <input name="email" class="form-control" id="floatingInput" placeholder="Usuario" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Clave" required>
      <label for="floatingPassword">Contraseña</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Login</button>

  </form>
</main>
#}

<div class="login-box m-auto pt-5">
  <div class="login-logo">
    <a href="/"><b>LAB</b>ttps</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicia sesión para acceder al sistema</p>

      <form action="{{ url_for('auth_authenticate') }}" method="post">
        <div class="input-group mb-3">
          <input name="email" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
      </form>




    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->




{% endblock %}