{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Puntos de encuentro</h1>

<div class="container py-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Coordenadas</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Estado</th>
        {% if (has_permission(session["id"],"punto_encuentro_destroy"))
        %}
        <th scope="col">Acciones</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for punto_encuentro in puntos_encuentro %}
      <tr>
        <th scope="row">{{punto_encuentro.id}}</th>
        <td>{{ punto_encuentro.nombre }}</td>
        <td>{{ punto_encuentro.direccion }}</td>
        <td>{{ punto_encuentro.coordenadas }}</td>
        <td>{{ punto_encuentro.telefono }}</td>
        <td>{{ punto_encuentro.email }}</td>
        <td>
          <div class="modal fade" id="estado{{punto_encuentro.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Desea cambiar el estado del punto de encuentro {{ punto_encuentro.nombre }}
                  {{punto_encuentro.direccion }}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a type="button" class="btn btn-danger"
                    href="{{ url_for('punto_encuentro_swichtstate', id=punto_encuentro.id, activo=punto_encuentro.estado ) }}">
                    Cambiar</a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-check form-switch">

            <input data-bs-toggle="modal" data-bs-target="#estado{{punto_encuentro.id}}" class="form-check-input"
              type="checkbox" role="switch" value="" {%if punto_encuentro.estado %} checked {% endif %}
              id="flexSwitchCheckDefault">

          </div>
        </td>
        <td>
          {% if (has_permission(session["id"],"punto_encuentro_destroy")) %}

          <div class="modal fade" id="delete{{punto_encuentro.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Desea eliminar al punto de encuentro {{ punto_encuentro.nombre }} {{ punto_encuentro.direccion }}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a type="button" class="btn btn-danger"
                    href="{{ url_for('punto_encuentro_destroy', id=punto_encuentro.id) }}">
                    Eliminar</a>
                </div>
              </div>
            </div>
          </div>
          <button data-bs-toggle="modal" data-bs-target="#delete{{punto_encuentro.id}}"
            class="btn btn-danger btn-sm">Eliminar</button>
          {% endif %}
          <a href="{{ url_for('punto_encuentro_edit', id=punto_encuentro.id )}}"
            class="btn btn-primary btn-sm">Editar</a>

        </td>


      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a href="{{ url_for('home') }}" class="btn btn-outline-secondary">Volver</a>
{% if (has_permission(session["id"],"punto_encuentro_new")) %}
<a href="{{ url_for('punto_encuentro_new') }}" class="btn btn-outline-success">Nuevo</a>
{% endif %}

{% endblock %}