{% extends "layout.html" %}
{% block title %}Editar Perfil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<form class="" action="{{ url_for('paciente_editar_perfil') }}" method="POST">
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <h1>Editar perfil</h1>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Nombre</label>
                                    <input type="text" name="nombre" class="form-control" value={{paciente.nombre}}
                                        placeholder="Nombre del paciente" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Apellido</label>
                                    <input type="text" name="apellido" class="form-control" value={{paciente.apellido}}
                                        placeholder="Apellido del paciente" required>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">DNI</label>
                                    <input type="number" name="dni" min="100000" class="form-control" maxlength="8"
                                        value={{paciente.dni}} placeholder="DNI del paciente" required disabled>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Fecha de nacimiento</label>
                                    <input type="date" name="fechaNacimiento" id="datefield" class="form-control"
                                        value={{paciente.fechaNacimiento}} min='1900-01-01' required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputState" class="form-label">Obra Social</label>

                                    <select name="obraSocial" id="obra" class="form-control">
                                        <option {% if (paciente.obraSocial==0) %}selected{% endif %} value="0">no posee
                                        </option>
                                        {% for obra in obrasSociales %}
                                        <option {% if (paciente.obraSocial==obra.id) %}selected{% endif %}
                                            value={{obra.id}}> {{obra.nombre}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Numero de afiliado</label>
                                    <input type="number" id="num" min="1000" name="nroAfiliado" class="form-control"
                                        value={{paciente.nroAfiliado}} placeholder="Numero de afiliado del paciente"
                                        disabled>
                                </div>
                            </div>

                            <div class="col-sm-4 datosMayor" hidden>
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control mayor" value={{paciente.email}}
                                        placeholder="Email del paciente" required>
                                </div>
                            </div>
                            <div class="col-sm-4 datosMayor" hidden>
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Telefono</label>
                                    <input type="tel" name="telefono" class="form-control mayor"
                                        value={{paciente.telefono}} placeholder="Telefono del paciente" required>
                                </div>
                            </div>
                            <div class="col-sm-4 datosMayor" hidden>
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Direccion</label>
                                    <input type="text" name="direccion" class="form-control mayor"
                                        value={{paciente.direccion}} placeholder="Dirección del paciente" required>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card card-secondary" id="datosTutor" hidden>
                    <div class="card-header">
                        <h3 class="card-title">Datos del tutor</h3>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Nombre</label>
                                    <input type="text" placeholder="Nombre del tutor" name="nombreTutor"
                                        class="form-control tutor" value={{paciente.nombre_tutor}}>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Apellido</label>
                                    <input type="text" placeholder="Apellido del tutor" name="apellidoTutor"
                                        class="form-control tutor" value={{paciente.apellido_tutor}}>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" name="emailTutor" class="form-control  tutor"
                                        value={{paciente.email}} placeholder="Email del tutor">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Telefono</label>
                                    <input type="tel" name="telefonoTutor" class="form-control tutor"
                                        value={{paciente.telefono}} placeholder="Telefono del tutor">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="inputEmail4" class="form-label">Direccion</label>
                                    <input type="text" name="direccionTutor" class="form-control tutor"
                                        value={{paciente.direccion}} placeholder="Dirección del tutor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 row">
                    <button type="submit" class="btn btn-primary mr-3">Guardar cambios</button>
                    <a href="{{ url_for('paciente_home') }}" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

</form>





{% endblock %}



{% block scripts %}

<script>
    let obra = document.getElementById("obra")
    let num = document.getElementById("num")
    obra.addEventListener("change", () => {
        if (obra.value && obra.value != 0) {
            num.disabled = false;
            num.requerid = true;
        }
        else {
            num.disabled = true;
            num.requerid = false;
            num.value = "";
        }
    });

    if (obra.value != 0) {
        num.disabled = false;
        num.requerid = true;
    }

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //Enero es 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;

    let selectFecha = document.getElementById("datefield")
    let datosTutor = document.getElementById("datosTutor")
    let inputsTutor = document.querySelectorAll(".tutor")
    let datosMayor = document.querySelectorAll(".datosMayor")
    let inputsMayor = document.querySelectorAll(".mayor")

    selectFecha.setAttribute("max", today);




    function mayorEdad(fechaNacimiento) {
        let hoy = new Date();
        let mayor = new Date(hoy.getFullYear() - 18, hoy.getMonth(), hoy.getDate())
        return fechaNacimiento < mayor;
    }

    let verificarEdad = (fecha) => {
        if (mayorEdad(fecha)) {
            datosMayor.forEach(d => d.hidden = false)
            inputsMayor.forEach(d => d.setAttribute("required", ""))

            datosTutor.hidden = true;
            inputsTutor.forEach(d => { d.removeAttribute("required"); d.value = '' })
        } else {
            datosMayor.forEach(d => d.hidden = true)
            inputsMayor.forEach(d => { d.removeAttribute("required"); d.value = '' })
            datosTutor.hidden = false;
            inputsTutor.forEach(d => d.setAttribute("required", ""))
        }
    }

    selectFecha.addEventListener('change', (e) => {
        let fecha = e.target.valueAsDate
        verificarEdad(fecha)


    })

    verificarEdad(selectFecha.valueAsDate)

</script>
{% endblock %}