{% extends "layout.html" %}
{% block title %}Nuevo empleado{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Crear un empleado</h1>
<form action="{{ url_for('user_create') }}" method="POST">
  <p>
    <label>Nombre<label></br>
        <input name="first_name" placeholder="Nombre" class="form-control" required />
  </p>
  <p>
    <label>Apellido<label></br>
        <input name="last_name" placeholder="Apellido" class="form-control" required />
  </p>
  <p>
    <label>Email<label></br>
        <input name="email" placeholder="Correo" class="form-control" required />
  </p>
  <p>
    <label>DNI<label></br>
        <input name="dni" placeholder="dni" class="form-control" required />
  </p>

  <p>
    <label>Clave<label></br>
        <input type="password" name="password" placeholder="Clave" class="form-control" required />
  </p>


  <div class="container py-5">
    <input type="submit" class="btn btn-success" value="Crear">
    <button type="reset" class="btn btn-outline-secondary">Limpiar</button>
  </div>
</form>
<a class="btn btn-dark" href="{{ url_for('user_index') }}">Volver</a>
{% endblock %}