<!doctype html>

<head>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script>

        anychart.onDocumentReady(function () {

            // create data
            var data = dicc

            // set the chart type
            var chart = anychart.area();

            // set the series type and data
            series = chart.area(data);

            // set the chart title
            chart.title("Cantidad de estudios por tipo");

            // set the container id
            chart.container("container");

            // initiate drawing the chart
            chart.draw();
        });

        // switch the series type
        function switchType() {
            var select = document.getElementById("typeSelect");
            series.seriesType(select.value);
        }
    </script>
</head>

<body>
    <div id="container" style="width: 500px; height: 400px;"></div>
</body>

</html>