{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}
{% block content %}

<h3>Alta de estudio</h3>
<form class="row g-3 align-items-end" action="{{ url_for('estudio_create') }}" method="POST">
    {# El empleado carga los datos nombre del paciente, obra social del paciente, dnimédico derivante, empleado que
    genera el alta, diagnóstico presuntivo, fecha de alta del estudio, tipo de estudio, estado actual y
    presupuesto. #}
    <div class="col-md-4">
        <label for="inputState" class="form-label">Paciente</label>

        <select name="paciente" class="selectpicker" data-show-subtext="true" data-live-search="true"
            aria-placeholder="seleccionar paciente">
            <option selected>Seleccionar</option>
            {% for paciente in pacientes %}
            <option value={{paciente.id}} data-subtext="{{paciente.dni}}"> {{paciente.nombre}} </option>
            {% endfor %}
        </select>
    </div>


    <div class="col-md-8">
        <a href="{{ url_for('paciente_new') }}" class="btn btn-outline-secondary">Nuevo paciente</a>
    </div>


    <div class="col-md-4">
        <label for="inputState" class="form-label">Medico derivante</label>
        <select name="medicoDerivante" class="selectpicker" data-show-subtext="true" data-live-search="true">
            <option selected>Seleccionar</option>
            {% for medico in medicos %}
            <option value={{medico.id}}> {{medico.nombre}} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Diagnóstico presuntivo</label>
        <select name="diagnostico" class="selectpicker" data-show-subtext="true" data-live-search="true">
            <option selected>Seleccionar</option>
            {% for diagnostico in diagnosticos %}
            <option value={{diagnostico.id}}> {{diagnostico.nombre}} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo de estudio</label>
        <select name="tipoEstudio" class="selectpicker" data-show-subtext="true" data-live-search="true">
            <option selected>Seleccionar</option>
            {% for tipo in tipos %}
            <option value={{tipo.id}}> {{tipo.nombre}} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Presupuesto</label>
        <input type="number" name="presupuesto" class="form-control" autocomplete="off" required>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Generar presupuesto</button>
    </div>
</form>

<a href="{{ url_for('empleado_index') }}" class="btn btn-outline-secondary mt-5">Volver</a>




{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

{#
<script type="text/javascript">
    $(window).on('load', function () {

        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });

    });
</script>#}

{% endblock %}