{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h3>Estudio #{{estudio.id}}</h3>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Esperando resultado biotecnologico</h3>
                </div>
                <div class="card-body my-5 text-center">
                    {% if estudio.estadoActual > 7 %}
                    <p>El resultado de la muestra llego el {{ fecha.strftime('%d/%m/%Y a las %H:%M') }} .</p>

                    {% else %}

                    <div class="mx-auto">
                        <h3><i class="fas fa-flask"></i> Muestra enviada, esperando resultado biotecnológico
                        </h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/workflow.html' %}

    <a href="{{ url_for('empleado_home') }}" class="btn btn-outline-secondary mt-5">Volver a home</a>
</div>








{% endblock %}