{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}


{% endblock %}
{% block content %}

<h3>Esperando comprobante de pago</h3>

<form class="row g-3 align-items-end" action="{{ url_for('estudio_estado1_carga') }}" method="POST">
    {# El empleado carga los datos nombre del paciente, obra social del paciente, dnimédico derivante, empleado que
    genera el alta, diagnóstico presuntivo, fecha de alta del estudio, tipo de estudio, estado actual y
    presupuesto. #}


    <div class="col-md-8">
        {#<a class="btn btn-outline-secondary" href="/archivos/facturas/factura_{{estudio}}.pdf" download={{ "factura_"
            ~ estudio ~ ".pdf" }}>Descargar factura </a>#}
        <a class="btn btn-outline-secondary" href="{{ruta_archivo}}" download={{ "Presupuesto_" ~ estudio.id ~ ".pdf"
            }}>Descargar presupuesto </a>
    </div>
    <div class="col-md-8">
        <label for="formFile" class="form-label">Cargar comprobante de pago del paciente</label>
        <input class="form-control" type="file" id="formFile" placeholder="Seleccione un archivo"
            onchange="archivoCargado()">
    </div>



    <div class="col-12">
        <button id="btn-enviar" type="submit" class="btn btn-primary" disabled>Siguiente</button>
    </div>
</form>

<div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between pt-5 pb-2">
    <div class="step completed">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Comprobante de pago</h4>
    </div>
    <div class="step completed">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Consentimiento firmado</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Selección de turno</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Toma de muestra</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Retiro de muestra</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Formar lote</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Resultado biotecnologico</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Interpretación de resultado</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Entrega de resultado</h4>
    </div>
    <div class="step">
        <div class="step-icon-wrap">
            <div class="step-icon"><i class="fa fa-check"></i></div>
        </div>
        <h4 class="step-title">Resultado entregado</h4>
    </div>
</div>




<a href="{{ url_for('empleado_home') }}" class="btn btn-outline-secondary mt-5">Volver</a>





{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    var files = document.getElementById('formFile');
    var submit = document.getElementById('btn-enviar');
    files.addEventListener("change", function () {
        if (files.files.length) {
            submit.disabled = false;
            return;
        }
        submit.disabled = true;
    });
</script>

{% endblock %}