<header class="p-2 bg-dark text-white mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">


            <div class="login-logo text-light m-0">
                <a href="/" class="text-light"><b>LAB</b>ttps</a>
            </div>
            </a>

            {% if is_authenticated(session) %}
            <div class="text-center d-flex">
                <span class="pr-3 font-italic">{{session["email"]}}</span>
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-tie" style="font-size: 1.2rem;"></i>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                </ul>

            </div>
            {% else %}

            <div class="text-end">
                <a href="{{ url_for('auth_login') }}" class="btn btn-outline-light me-2">Iniciar sesión</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>