{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h4>Bienvenido!</h4>
    </div>

    <div class="col-3">

        <div class="text-align: center">
            <div class="row">
                <div class="col-sm-10">
                    <div class="col-8">
                        <a href="{{ url_for('auth_login') }}" class="btn btn-outline-primary mr-3">Ingresar como
                            Empleado</a>
                    </div>
                    <div class="col-8 mt-3">
                        <a href="{{ url_for('auth_loginPaciente') }}" class="btn btn-outline-primary mr-3">Ingresar
                            como Paciente</a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>






{% endblock %}