{% extends "layout.html" %}
{% block title %}Lotes en procesamiento{% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
{% endblock %}
{% block body_class %} sidebar-mini sidebar-collapse{% endblock body_class %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content-header">
        <h1>Lotes en procesamiento</h1>
    </div>
    <section class="">
        <div class="">
            <div class="row">
                <div class="col-11">
                    <div class="card">
                        <div class="card-header">


                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            <table id="table2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Lote #</th>
                                        <th scope="col">Procesamiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lote in lotes %}
                                    <tr>
                                        <td scope="row">{{ lote.id }}</td>
                                        <td>
                                            <div class="modal fade" id="url{{lote.id}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Agregar URL</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form
                                                            action="{{ url_for('lote_enProcesamiento_agregarURL',id=lote.id) }}"
                                                            method="POST">
                                                            <div class="modal-body">
                                                                <input type="text" name="lote" id="lote"
                                                                    value={{lote.id}} hidden>
                                                                <input type="text" name="url" id="url" class="w-100"
                                                                    placeholder="Ingrese url del lote" required>
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-outline-danger"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">Cancelar</span>
                                                                </button>

                                                                <button type="submit" class="btn btn-success">
                                                                    Guardar URL</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /.modal-content -class="btn btn-outline-danger"-->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->

                                            <a class="btn btn-success btn-sm" id="customSwitch3" data-toggle="modal"
                                                data-target="#url{{lote.id}}"> Ingresar URL
                                            </a>

                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('empleado_home') }}" class="btn btn-outline-success">Volver</a>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}

<!-- SweetAlert2 -->
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/static/assets/plugins/toastr/toastr.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="/static/assets/dist/js/demo.js"></script>

<!-- DataTables  & Plugins -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/jszip/jszip.min.js"></script>
<script src="/static/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Page specific script -->
<script>
    $('#myModalExito').modal('show');
    $('#myModalExito').modal('hide'); // cerrar


    $('#').change(function () {

        $(function () {
            $("#tabla").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "pdf"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#table2').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    })
</script>
{% endblock %}