{% extends "layout.html" %}
{% block title %}Procesar Lote{% endblock %}
{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
{% endblock %}
{% block body_class %} sidebar-mini sidebar-collapse{% endblock body_class %}
{% block content %}
<form id="formulario" action="{{ url_for('lote_enProcesamiento_agregarURL', id=lote) }}" method="POST">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <div class="content-header">
            <h1>Estudios del lote #{{lote}}</h1>
        </div>
        <section class="">
            <div class="">
                <div class="row">
                    <div class="col-11">
                        <div class="card">
                            <div class="modal fade" id="modalPago">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Ingresar URL</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <input type="text" name="url" id="url" class="w-100"
                                                placeholder="Ingrese url del lote" required>

                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">Cancelar</span>
                                            </button>

                                            <button type="submit" class="btn btn-success">
                                                Agregar URL</button>
                                        </div>

                                    </div>
                                    <!-- /.modal-content -class="btn btn-outline-danger"-->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                            <div class="card-header">
                                <h6>*Seleccionar estudios cuya muestra haya sido correcta y/o suficiente</h6>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="table2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Estudio#</th>
                                            <th scope="col">Paciente</th>
                                            <th scope="col">Tipo de estudio</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estudio,tipoEstudio,paciente in estudios %}
                                        <tr>
                                            <td scope="row">{{ estudio.id }}</td>
                                            <td>{{ paciente.nombre }} {{ paciente.apellido }}</td>
                                            <td>{{ tipoEstudio.nombre }}</td>
                                            <td>{{ estudio.fecha.strftime('%d/%m/%Y - %H:%M') }}</td>
                                            <td>
                                                <div class="form-check w-100 mx-auto">
                                                    <input class="form-check-input" name="checkbox" type="checkbox"
                                                        value="{{estudio.id}}" id="check">
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <div class="container py-5">
                                            <input type="button" class="btn btn-success" value="Ingresar URL"
                                                data-toggle="modal" data-target="#modalPago" id="btn-abrir" disabled>
                                            <input type="text" name="estudios" hidden id="estudios">
                                        </div>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('empleado_home') }}" class="btn btn-outline-success">Volver</a>
            </div>
        </section>
    </div>
</form>
{% endblock %}

{% block scripts %}


<!-- DataTables  & Plugins -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/jszip/jszip.min.js"></script>
<script src="/static/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#tabla").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "pdf"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#table2').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

</script>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        console.log(document.querySelector('#url'))

        let btnAbrir = document.querySelector('#btn-abrir');
        let form = document.querySelector('form')
        let checks = form.checkbox
        console.log(checks)
        let contPago = 0;

        checks.forEach(check => {
            check.addEventListener('change', (event) => {
                event.target.checked ? contPago++ : contPago--
                btnAbrir.disabled = contPago === 0
            })
        });

        btnAbrir.addEventListener('click', () => {
            if (contPago > 0)
                document.querySelector('#montoPago').innerText = '$' + (contPago * 800);
        })


    });

</script>
{% endblock %}